# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.tsbuildinfo
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

.vercel
scripts/
docs/
!scripts/
scripts/*
!scripts/build_chatgrow_documentation.py
!docs/
docs/*
!docs/ChatGrow_Free_Tools_Technical_and_Operations_Manual.docx
